rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /banners/{userId}/{imageId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /uploads/{userId}/{imageId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}